
h1{
   text-align: center; 
 
}
header{
    background:url("https://kartinki.pics/uploads/posts/2022-03/thumbs/1646881124_58-kartinkin-net-p-krasivie-kartinki-futbol-69.jpg");
}


main img {
    height:200px;
    weight:220px;
 
}

table{ 
 color:#216632;  
 
}

td{
    border:1px solid #5b3b80;
}

img{
    border-radius:200px ;
}

td{
   border:1px solid #7750b5; 
}
td{
  border:1px solid #5b7d5c; 
  
}

h4{
    color:#4e4452;
}
footer {
background-color:;
 color:#2e127a;
}


main {
    color:#735320;
    background-color:#23a65e; 

}
footer{
    text-align:center;
    background-color:#3aa655;
}
header{
    font-size:15px;
}
main{
    font-size:15px;
}
footer{
    font-size:15px;
}
